body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.legend-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.legend-item {
  margin-bottom: 5px;
}

.legend-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: middle;
}